@model FinalAPIProject.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cusname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cusname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cusph)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cusph)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cusaddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cusaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuspassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuspassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Cusid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
